*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;

}
html,body{
    width: 100%;
    height: 100%;
}
#page1{
    height: fit-content;
    width: 100%;
    /* background-color: red; */
}
  #nav{
    height: 120px;
    width: 100%;
    /* background-color: rgba(18, 18, 217, 0.837); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    
}

#nav-part1{ 
    width: 28%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
#nav-part1 h4{
    font-size: 16px;
    font-weight: 500;
}
#nav-part2{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#nav-part2 button{
    padding: 15px 22px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 17px;
    margin: 0 10px;
}
#nav-part2 button:nth-child(1){
    background-color: transparent;
    color: black;
}

#nav img{
    height: 110px;
}

#contant{
    width: 100%;
    height: calc(100% - 120px);
    /* background-color: crimson; */
    padding-top: 90px;
    
}
#contant h3{
    background-color: #f2b0ea;
    padding: 12px 16px;
    width: fit-content;
    border-radius: 50px;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    font-size: 17px;
    font-family:"source serif 4";
    font-weight: 100;

}
#contant h1{
    font-size: 80px;
    text-align: center;
    margin: 25px 0;
    font-family:"source serif 4";
    font-weight: 100;
    line-height: 80px;
}
#contant h4{
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}

#contant button{
    padding: 20px 28px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    margin: 30px 0px;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    
}
#bottom{
    height: 400px;
    width: 100%;
    /* background-color: red; */
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    
   
}
#bottom::-webkit-scrollbar{
    display: none;
}
.elem{
    flex-shrink: 0;
    width: 250px;
    height: 95%;
    background-color: royalblue;
    /* border: 2px solid black; */
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}
.elem video{
      width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}



#page2{
    width: 100%;
    height: 100%;
    /* background-color: aqua ; */
    position: relative;
    padding: 50px;
    padding-top: 80px ;
} 
#page2 h1{
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 40px;
   
}
#box{
    height: 220px;
    width: 310px;
    background-color: red;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    margin: 17px;
}
#box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
#box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page3{
    width: 100%;
    height: 100%;
    background-color:rgba(255, 166, 0, 0.421);
    position: absolute;
}

#page3 h1{
    text-align: center;
    font-size: 55px;
    margin-top: 30px;
    font-weight: 500;
    padding-top: 70px;
    gap: 20px;
    
}
#page3 p{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 500;
    line-height: 30px;
    
}
#page3 button{
    
    border-radius: 50px;
    background-color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 18px;
    color: white;
    margin: 50px 10px;
    position: relative;
    transform: translate(-50%);
    left: 45%;
}
#page3 button:nth-child(2){
    background-color: white;
    color: #000;
}

#page3 h3{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;

}
#page3 h3::after{
    content: "join dribble";
    text-decoration: underline;
    font-size: 22px;
    
}


